extends ../layouts/main

block content
  .row.justify-content-center
    .col-md-6
      h2.mb-4 Login
      #alert-container
      form#login-form
        .mb-3
          label.form-label(for="email") Email
          input.form-control(type="email" id="email" name="email" required)
        .mb-3
          label.form-label(for="password") Senha
          input.form-control(type="password" id="password" name="password" required)
        button.btn.btn-primary(type="submit") Entrar
      .mt-3
        p Não tem uma conta? <a href="/register">Registre-se aqui</a>.

block scripts
  script(src="/js/auth.js")